{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Page description">
    <meta name="keywords" content="page, keywords">
    <meta name="theme-color" content="#000000">
    <meta name="copyright" content="Author">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <meta name="apple-mobile-web-app-title" content="Application Name">
    <meta name="msapplication-TileImage" content="img/favicons/144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="format-detection" content="telephone=no">
    <style>
        @font-face {
            font-family: LatoRegular;
            src: url(../fonts/LatoRegular/LatoRegular.ttf);
            src: url(../fonts/LatoRegular/LatoRegular.eot);
            src: url(../fonts/LatoRegular/LatoRegular.woff)
        }

        body, html {
            font-family: LatoRegular;
            padding-bottom: 100px;
            background-color: #f9f9f9
        }
    </style>
    <link rel="preload" href=" {% static 'css/libs.min.css' %}" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/libs.min.css' %}">
    </noscript>
    <link rel="preload" href="{% static 'css/style.min.css' %}" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    </noscript>
    <script>!function (n) {
        "use strict";
        n.loadCSS || (n.loadCSS = function () {
        });
        var o = loadCSS.relpreload = {};
        if (o.support = function () {
                var e;
                try {
                    e = n.document.createElement("link").relList.supports("preload")
                } catch (t) {
                    e = !1
                }
                return function () {
                    return e
                }
            }(), o.bindMediaToggle = function (t) {
                var e = t.media || "all";

                function a() {
                    t.media = e
                }

                t.addEventListener ? t.addEventListener("load", a) : t.attachEvent && t.attachEvent("onload", a), setTimeout(function () {
                    t.rel = "stylesheet", t.media = "only x"
                }), setTimeout(a, 3e3)
            }, o.poly = function () {
                if (!o.support()) for (var t = n.document.getElementsByTagName("link"), e = 0; e < t.length; e++) {
                    var a = t[e];
                    "preload" !== a.rel || "style" !== a.getAttribute("as") || a.getAttribute("data-loadcss") || (a.setAttribute("data-loadcss", !0), o.bindMediaToggle(a))
                }
            }, !o.support()) {
            o.poly();
            var t = n.setInterval(o.poly, 500);
            n.addEventListener ? n.addEventListener("load", function () {
                o.poly(), n.clearInterval(t)
            }) : n.attachEvent && n.attachEvent("onload", function () {
                o.poly(), n.clearInterval(t)
            })
        }
        "undefined" != typeof exports ? exports.loadCSS = loadCSS : n.loadCSS = loadCSS
    }("undefined" != typeof global ? global : this);</script>
</head>
<body>
<header class="uk-box-shadow-small uk-box-shadow-hover-large">
    <div class="uk-container">
        <nav class="uk-navbar" uk-navbar="">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="{% url  'index' %}">ГЛАВНАЯ</a></li>
                    <li><a href="{% url 'categories' %}">ОБУЧЕНИЕ</a></li>
                    <li><a href=""> FAQ</a></li>
                </ul>
            </div>
            <div class="uk-navbar-center">
                <li style="list-style-type: none;"><a href="#"><img src="{% static 'img/svg/logo.svg' %}" alt=""
                                                                    width="160"></a></li>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav" st>
                    {% if not user.is_authenticated %}
                        <li><a href="#" uk-toggle="target: #enter">ВХОД</a></li>
                        <li><a href="#" uk-toggle="target: #reg">РЕГИСТРАЦИЯ</a></li>
                    {% else %}
                        <li><a href="{% url 'profile' %}">Профиль</a></li>
                    {% endif %}
                    <li class="language"><a href="#">RU </a></li>
                    <li class="language"><a href="#">EN</a></li>
                    <li class="language"><a href="#">KG</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

{% block content %}

{% endblock %}

<!-- This is the modal -->
<div id="reg" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Registration</h2>
        <form method="post" action="{% url 'registration' %}">
            {% csrf_token %}
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <input class="uk-input" name="username" type="text" placeholder="name">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" name="password" type="password" placeholder="password">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" name="phone" type="text" placeholder="phone">
                </div>
                <div class="uk-margin">
                    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                    <a href="" class="uk-icon-button" uk-icon="google-plus"></a>
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-button-default" type="submit">
                        Save
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- This is the modal -->
<div id="enter" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Enter</h2>
        <form method="post" action="{% url 'my_login' %}">
            {% csrf_token %}
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <input class="uk-input" name="username" type="text" placeholder="name">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" name="password" type="password" placeholder="password">
                </div>
                <div class="uk-margin">
                    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                    <a href="" class="uk-icon-button" uk-icon="google-plus"></a>
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-button-default" type="submit">
                        Save
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script src="{% static 'js/libs.min.js' %}"></script>
<script src="{% static 'js/common.min.js' %}"></script>
</body>
</html>