{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="theme-page">
        <div class="uk-container">
            <div class="uk-grid uk-grid-small card-block" uk-grid="">
                <div class="uk-width-1-5@m left-side">
                    <div>
                        <div class="uk-card uk-card-default uk-text-left">
                            <ul>
                                <li class="uk-active"><a href="">ЧТЕНИЕ</a></li>
                                <li><a href="">МАТЕМАТИКА</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-expand right-side">
                    <h1>Животные<span class="uk-float-right">1/10</span></h1>
                    <div class="uk-card uk-card-default uk-text-left lesson-block">
                        <div class="word">Готовы начать урок?</div>
                        <div class="uk-text-center"><a class="url uk-button uk-button-default" href="">НАЧАТЬ
                            ОБУЧЕНИЕ</a>
                        </div>
                        <audio class="uk-hidden" controls autoplay id="audio1">
                            <source src="voice/vo1.mp3" type="audio/mpeg">
                        </audio>
                        {#                    <div class="uk-position-small controll uk-position-bottom-center"><a href=""><img#}
                        {#                            src="img/png/Group 9.png" alt=""></a><a href="index.html" id="next_page"><img#}
                        {#                            src="img/png/Group 10.png" alt=""></a><a class="pause"><img src="img/png/11.png" alt=""></a><a#}
                        {#                            class="play"><img src="img/png/12.png" alt=""></a></div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}